@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin: 0;
}
.textghinhat{
	color: #525252;
}
.textghidam{
	color:#212529;
}
.textxanh{
	color: #ABD373
}
.fontfamily{
	font-family: 'Rubik', sans-serif;
}
#header .topheader{
	background-color: #ABD373;
}
#header .content button{
	color: white;
}
#header .logoheader .left i{
	font-size: 40px;
	color: #ABD373;
}
#header .logoheader .right i{
	font-size: 20px;
	color: #525252;
	padding-left: 20px
}
#header .logoheader .right i:hover{
	color: #ABD373;
	transition: color 0.2s;
	cursor: pointer;
}
#header .banner{
	background-image: url("img/1-1-1919x388.webp");
	height: 35vh;
	background-size: cover;
}
#benefit .b1{
	border: dashed 1px #ABD373;
	padding: 15px 25px;
	border-radius: 5px;
}
#footer{
	background-image: url("././img/1-1920x465.webp");
	margin-top: 20px;
}
#footer button:hover{
	background-color: #ABD373;
	color: white;
	border:none;
}
#footer h6:hover{
	cursor: pointer;
	color: #ABD373;
}
#ourteam .title hr{
	width: 15%;
	border:1px solid #ABD373;
	margin: 15px auto;
}
