@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin: 0;
}
.textghinhat{
	color: #525252;
}
.textghidam{
	color:#212529;
}
.textxanh{
	color: #ABD373
}
.fontfamily{
	font-family: 'Rubik', sans-serif;
}
#header .topheader{
	background-color: #ABD373;
}
#header .content button{
	color: white;
}
#header .logoheader .left i{
	font-size: 40px;
	color: #ABD373;
}
#header .logoheader .right i{
	font-size: 20px;
	color: #525252;
	padding-left: 20px
}
#header .logoheader .right i:hover{
	color: #ABD373;
	transition: color 0.2s;
	cursor: pointer;
}
#header .banner{
	background-image: url("img/1-1-1919x388.webp");
	height: 35vh;
	background-size: cover;
}
#info .contactinfo{
	background-image: url("././img/1-1-370x500.webp");
	background-size: cover;
	height: 500px;
}
#info button{
	background-color: #ABD373;
	color:white;
	padding: 10px 30px;
}#info button:hover{
	background-color: #525252;
	color:white;
	padding: 10px 30px;
}
#info .shadow{
	box-shadow: 5px 5px 10px #D3D3D3;
}
#footer{
	background-image: url("././img/1-1920x465.webp");
	margin-top: 20px;
}
#footer button:hover{
	background-color: #ABD373;
	color: white;
	border:none;
}
#footer h6:hover{
	cursor: pointer;
	color: #ABD373;
}